

/*css reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset*/

body{
	font-family: 'Inconsolata', monospace;
}

nav{
  background-color: rgba(180,180,180,0.99);
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav ul{
  float: left;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  text-decoration: none;
  color: rgb(3, 120, 252);
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  border: 2px solid rgb(3, 120, 252);
}

nav ul li a:hover {
  background: rgb(3, 120, 252);
  color: white;
  transition: .25s;
}

nav label, nav input{
  display: inline-block;
  float: right;
  padding-right: 40px;
  padding-top: 22px;

}

#check{
  display: none;
}

#first{
  margin-left: 30px;
}

#grid {
    width: 370px;
    height: 395px;
    border: 5px solid rgb(3, 120, 252);;
    border-collapse: collapse;
}

.title{
	background: rgb(220,220,220);
	border-bottom: 5px solid rgb(3, 120, 252);
	padding: 130px 14% 50px 14%;
	text-align: center;
}

h1{
	color: rgb(3, 120, 252);
	font-weight: bold;
	font-size: 55px;
}

p{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 40px;
	font-size: 15px;
	letter-spacing: 1.5px;
	color: rgba(3, 120, 252);
	text-align: center;
}

.sudoku{
	background-color: rgb(220,220,220);
	padding-top: 50px;
	padding-bottom: 250px;
}

.sudoku-pos {
  margin-left:20%;
}

.cell input{
    display: inline-block;
    float: left;
    border: 2px solid rgb(3, 120, 252);
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

td{
	color: rgb(3, 120, 252);
  height:30px;
  width:30px;
  padding: 0;
  text-align:center;
}

td:first-child{
  border-left:solid;
}

td:nth-child(3n){
  border-right:solid ;
}

tr:first-child{
  border-top:solid;
}

tr:nth-child(3n) td{
  border-bottom:solid ;
}

li{
		padding-bottom: 5px;
}

.color-position{
	margin-left: -32px;
	margin-bottom: -25px;
}

.info{
	margin-top: -375px;
	margin-left: 23%;
	padding-left: 465px;
}

.colors{
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.green{
	background: rgba(10, 200, 10, 0.4);
}

.purple{
	background: rgba(0, 0, 256, 0.4);
}

.pink{
	background: rgba(200, 10, 200, 0.4);
}

.blue{
  background: rgba(0, 200, 200, 0.4);
}

.bottom{
	border-top: 5px solid rgb(3, 120, 252);
	padding: 50px 10% 100px 10%;
	background-color: rgb(220,220,220);
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80px;
	grid-gap: 20px;
	color: rgb(3, 120, 252);
	font-weight: bold;
}

.bottom_title{
	grid-column: 1 / 3;
	width: 100%;
	text-align: center;
	padding-bottom:4px;
}

.link{
	font-size: 16px;
	color: green;
}

.button_list{
	margin-left: -35px;
}

.button {
	color: rgb(3, 120, 252);
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  border: 2px solid rgb(3, 120, 252);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}


.button:hover{
	cursor: pointer;
	background: rgb(3, 120, 252);
	color: white;
	transition: .25s;
}

#tip{
	padding: 75px 15px 65px 15px;
	width: 24vw;
	margin-left: -50px;
}

@media(max-width:858px){

	ul{
  	position: fixed;
  	width: 100%;
  	height: 100vh;
  	background: rgba(160,160,160,0.99);
  	top: 80px;
  	left: -100%;
  	text-align: center;
  	transition: all .5s;
		font-weight: bold;
		letter-spacing: 1.5px;
	}

	nav ul li{
  	display: block;
  	margin: 50px 0;
  	line-height: 30px;
	}

	nav ul li a{
  	font-size: 20px;
  	border: 0px solid white;
		color: #111;
	}

	#check:checked ~ ul{
  	left: 0;
	}

	.hamb{
		width: 35px;
		height: 3px;
		background-color: black;
		margin: 6px 0;
	}

	#first{
		margin-left: 0px;
	}

	.block{
		font-size: 15px;
	}

	.item{
		padding-left: 25px;
		padding-right: 25px;
	}

	.bottom{
		grid-template-columns: 40% 60%;
	}

	.sudoku{
		padding-bottom: 50px;
	}
	.sudoku-pos {
	  margin-left: auto;
		margin-right: auto;
	}

	.cell input{
	    width: 33px;
	    height: 33px;
	    font-size: 22px;
	}

	#grid {
	    width: 300px;
	    height: 300px;
	    border: 5px solid rgb(3, 120, 252);;
	    border-collapse: collapse;
	}

	.info{
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0px;
	}

	#tip{
		display: none;
	}

	.buttonlist{
		margin-left: 0;
		text-align: center;
		margin-top: 40px;
	}

	.button{
		background-color: white;
	}
}
