
/*css reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset*/


body{
	font-family: 'Inconsolata', monospace;
}

nav{
	background-color: #111;
	width: 100%;
	position: fixed;
	z-index: 10;
}

nav ul{
	float: left;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	border: 2px solid white;
}

nav ul li a:hover, .active {
	background: #eee;
	color: black;
	transition: .25s;
}

nav label, input{
	display: inline-block;
	float: right;
	padding-right: 40px;
	padding-top: 22px;

}

#check{
	display: none;
}

#first{
	margin-left: 30px;
}

.main {
  background: #111;
	padding: 130px 14% 70px 14%;
	text-align: center;
}

h1{
	color: white;
	font-weight: bold;
	font-size: 36px;
}


p{
	font-size: 15px;
	letter-spacing: 1.5px;
}

#title{
	font-size: 20px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 30px;
}

.bottom{
	padding: 50px 10% 100px 10%;
	background-color: #111;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 80px;
	grid-gap: 20px;
	color: white;
	margin-left: 250px;
}

.bottom_title{
	grid-column: 1 / 3;
	width: 100%;
	text-align: center;
	padding-bottom:4px;
}

.link{
	font-size: 16px;
	color: green;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar{
	margin-top: 80px;
	min-width: 250px;
   	max-width: 250px;
   	background: #111;
   	color: #fff;
	height: 100%;
}

nav#sidebar ul{
	float: none;
	margin-right: 0px;
}

nav#sidebar ul li{
	line-height: 20px;
}

.nav-item{
	margin: 1px 5px;
}

#frame{
	padding-left: 250px;
	margin-top: 81px;
}

@media(max-width:858px){

	ul{
  	position: fixed;
  	width: 100%;
  	height: 100vh;
  	background: rgba(10,10,10,0.95);
  	top: 80px;
  	left: -100%;
  	text-align: center;
  	transition: all .5s;
	}

	nav ul li{
  	display: block;
  	margin: 50px 0;
  	line-height: 30px;
	}

	nav ul li a{
  	font-size: 20px;
  	border: 0px solid white;
	}

	#check:checked ~ ul{
  	left: 0;
	}

	.hamb{
		width: 35px;
		height: 3px;
		background-color: white;
		margin: 6px 0;
	}

	#first{
		margin-left: 0px;
	}

	.title{
		font-size: 23px;
		height: 90px;
	}

	.block{
		font-size: 15px;
	}

	.item{
		padding-left: 25px;
		padding-right: 25px;
	}

	.bottom{
		grid-template-columns: 40% 60%;
	}

	#big{
		margin-top: -15px;
		padding-bottom: 15px;
	}
}
